*{
    margin: 0;
    padding: 0;
  }
  body{
      min-height: 100hv;
      background-color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      user-select: none;
  }


  body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.background-container {
  position: relative; /* Set position to relative */
  width: 100%; /* Take full width */
  height: 100vh; /* Take full height of viewport */
  overflow: hidden; /* Hide overflowing content */
  margin-top: 0%; /* Adjust this value according to your navigation bar's height */
}

.background-image {
  position: absolute; /* Set position to absolute */
  top: 0;
  left: 0;
  width: 100%; /* Take full width */
  height: 100%; /* Take full height */
  background-image: url('https://i.ibb.co/C0gRjwt/5546006.jpg'); /* Replace 'your-image-url.jpg' with the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

  
  nav{
    background-color: #dd983a;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li{
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a{
    text-align: center;
    font-size: 20px;
    
    color: white;
    height: 100%;
    padding: 0 30px;
  }

  .US{
    position: absolute;
    color: white;
    top: 80px; /* Position the text 50% from the top */
    left: 40%; /* Position the text 50% from the left */
    transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
    text-align: center; /* Align text in the center */
  }

  .Logo{
     position: absolute;
     top:185px;
     left:2%;
     
     width: 440px;
     height: 440px;
     background-image: url('https://i.ibb.co/NszD5kS/IMG-20231007-WA0000-2.jpg');
     background-size: 50%;
     background-repeat: no-repeat;
     
   }

   .PLYPUSEbtn{
     position: absolute;
     top: 416px;
     left: 2%;
   }

   .STOPbtn{
     position: absolute;
     top: 416px;
     left: 4.2%;
   }

   .VLSL{
     position: absolute;
     top: 416px;
     left: 6.3%;
     width: 100px;
   }
/*
  nav li:first-child{
    justify-content: center;
  }

  .NamazZman{
      position: absolute;

      height:350px; 
      width:250ox; 
      border-radius:25px; 
      font-size:20px;
  }*/

  .Rndmtxt{
    position: absolute;
    top: 500px;
    right: 30px;
    color: white;
    font-size: 18px;
    width: 25px;
    
  }


  @media(max-width:800px) {
    .US{
    position: absolute;
    color: white;
    top: 100px; /* Position the text 50% from the top */
    left: 50%; /* Position the text 50% from the left */
    transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
    text-align: center; /* Align text in the center */
  }

  .PLYPUSEbtn{
     position: absolute;
     top: 413px;
     left: 2%;
   }

   .STOPbtn{
     position: absolute;
     top: 413px;
     left: 6.2%;
   }

   .VLSL{
     position: absolute;
     top: 416px;
     left: 9.5%;
     width: 100px;
   }



  }

  @media(max-width:400px) {
    .Logo{
     position: absolute;
     top:185px;
     left: 21%;
     
     width: 440px;
     height: 440px;
     background-image: url('https://i.ibb.co/NszD5kS/IMG-20231007-WA0000-2.jpg');
     background-size: 50%;
     background-repeat: no-repeat;
  }

  .PLYPUSEbtn{
     position: absolute;
     top: 416px;
     left: 21%;
   }

   .STOPbtn{
     position: absolute;
     top: 416px;
     left: 28%;
   }

   .VLSL{
     position: absolute;
     top: 416px;
     left: 36%;
     width: 100px;
   }
  }
